@{
    ViewData["Title"] = "Weekly task report";
}


<!-- Weekly Report -->
<div class="col-12 mb-4">
    <div class="bs-stepper wizard-vertical vertical mt-2">
        <div class="bs-stepper-header">
            <div class="step" data-target="#report-details">
                <button type="button" class="step-trigger">
                    <span class="bs-stepper-circle">1</span>
                    <span class="bs-stepper-label">General Details</span>
                </button>
            </div>
            <div class="line"></div>
            <div class="step" data-target="#summary">
                <button type="button" class="step-trigger">
                    <span class="bs-stepper-circle">2</span>
                    <span class="bs-stepper-label">Summary</span>
                </button>
            </div>
        </div>
        <div class="bs-stepper-content">
            <form onSubmit="return false" id="formValidationExamples">
                <!-- Report Details -->
                <div id="report-details" class="content">
                    <div class="row g-3">
                        <div class="content-header">
                            <h6 class="mb-0">General Details</h6>
                            <small>Enter the report general details</small>
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label" for="employee-name">Name</label>
                            <input type="text" id="employee-name" name="employeeName" class="form-control" value="Mazen Salah" />
                        </div>
                        <div class="col-sm-6">
                            <label for="week-start-date" class="form-label">Work Week</label>
                            <div class="input-group input-daterange" id="bs-datepicker-daterange">
                                <input type="text" id="week-start-date" placeholder="DD/MM/YYYY" class="form-control bg-transparent" name="weekStartDate" readonly />
                                <span class="input-group-text">to</span>
                                <input type="text" id="week-end-date" placeholder="DD/MM/YYYY" class="form-control bg-transparent" readonly />
                            </div>
                        </div>
                    </div>
                    <hr class="my-4" />
                    <div class="row g-3">
                        <div class="content-header">
                            <h6 class="mb-0">Tasks</h6>
                            <small>List the tasks you performed in the week</small>
                        </div>
                        <div class="col-12 form-repeater">
                            <div data-repeater-list="group-a">
                                <div data-repeater-item>
                                    <div class="row">
                                        <div class="col-12 col-lg-6 col-xl-4 mb-0 mb-3">
                                            <label class="form-label" for="taskDetails">Task Details</label>
                                            <textarea id="taskDetails" name="taskDetails" rows="1" class="form-control task-details"></textarea>
                                        </div>
                                        <div class="col-12 col-lg-6 col-xl-4 mb-0 mb-3">
                                            <label for="module" class="form-label">Module</label>
                                            <select id="module" name="module" class="select2 form-select form-select-lg module">
                                                <option value="-1" disabled selected>-- Select a module --</option>
                                                <option value="0">Add new module</option>
                                                <option value="Get Organized">Get Organized</option>
                                                <option value="Talent Acquisition">Talent Acquisition</option>
                                                <option value="Development">Development</option>
                                                <option value="Performance Management">Performance Management</option>
                                            </select>
                                        </div>
                                        <div class="col-12 col-lg-6 col-xl-4 mb-0 mb-3">
                                            <label for="category" class="form-label">Category</label>
                                            <select id="category" name="category" class="select2 form-select form-select-lg category">
                                                <option value="-1" disabled selected>-- Select a Category --</option>
                                                <option value="0">Add new category</option>
                                                <option value="Enhancement">Enhancement</option>
                                                <option value="Enhancement">Bug</option>
                                            </select>
                                        </div>
                                        <div class="col-12 col-lg-6 col-xl-3 mb-0 mb-3">
                                            <label for="taskStartDate" class="form-label">Start Date</label>
                                            <input type="text" id="taskStartDate" name="taskStartDate" placeholder="DD/MM/YYYY" class="form-control format-dd-mm-yyyy bg-transparent task-start-date" readonly />
                                        </div>
                                        <div class="col-12 col-lg-6 col-xl-3 mb-0 mb-3">
                                            <label for="taskFinishDate" class="form-label">Finish Date</label>
                                            <input class="form-control format-dd-mm-yyyy bg-transparent task-finish-date" type="text" placeholder="DD/MM/YYYY" id="taskFinishDate" name="taskFinishDate" readonly />
                                        </div>
                                        <div class="col-12 col-lg-6 col-xl-3 mb-0 mb-3">
                                            <label for="taskStatus" class="form-label">Status</label>
                                            <select id="taskStatus" name="taskStatus" class="select2 form-select form-select-lg task-status">
                                                <option value="-1" disabled selected>-- Select a Status --</option>
                                                <option value="0">Add new status</option>
                                                <option value="Done">Done</option>
                                                <option value="InProgress">In Progress</option>
                                            </select>
                                        </div>
                                        <div class="col-12 col-lg-6 col-xl-3 mb-0 mb-3">
                                            <label class="form-label" for="taskComments">Comments</label>
                                            <textarea id="taskComments" name="taskComments" rows="1" class="form-control task-comments"></textarea>
                                        </div>
                                        <div class="d-flex col-12 col-lg-12 col-xl-2 align-items-center mb-0 mb-3">
                                            <button class="btn btn-label-danger mt-4" data-repeater-delete type="button">
                                                <i class="bx bx-x"></i>
                                                <span class="align-middle">Delete task</span>
                                            </button>
                                        </div>
                                    </div>
                                    <hr />
                                </div>
                            </div>
                            <div class="mb-0">
                                <button class="btn btn-primary" data-repeater-create type="button">
                                    <i class="bx bx-plus"></i>
                                    <span class="align-middle">Add new task</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="d-flex col-12 justify-content-between">
                        <button class="btn btn-label-secondary btn-prev" disabled>
                            <i class="bx bx-chevron-left bx-sm ms-sm-n2"></i>
                            <span class="d-none d-sm-inline-block">Previous</span>
                        </button>
                        <button class="btn btn-primary btn-next" type="button">
                            <span class="d-none d-sm-inline-block me-sm-1">Next</span>
                            <i class="bx bx-chevron-right bx-sm me-sm-n2"></i>
                        </button>
                    </div>
                </div>
                <!-- Summary -->
                <div id="summary" class="content">
                    <div class="content-header mb-3">
                        <h6 class="mb-0">Summary</h6>
                        <small>Here is your report summary based on your inputs</small>
                    </div>
                    <!-- Basic Bootstrap Table -->
                    <div class="row">
                        <hr />
                        <h5 class="col-12">Mazen Salah - Task Report (30-06-2024 to 04-07-2024)</h5>
                        <hr />
                        <div class="table-responsive text-nowrap">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Tasks Details</th>
                                        <th>Module</th>
                                        <th>Category</th>
                                        <th>Date</th>
                                        <th>Complete Date</th>
                                        <th>Status</th>
                                        <th>Comments</th>
                                    </tr>
                                </thead>
                                <tbody class="table-border-bottom-0">

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--/ Basic Bootstrap Table -->
                    <div class="d-flex col-12 justify-content-between">
                        <button class="btn btn-primary btn-prev">
                            <i class="bx bx-chevron-left bx-sm ms-sm-n2"></i>
                            <span class="d-none d-sm-inline-block">Previous</span>
                        </button>
                        <button class="btn btn-success btn-submit" type="button">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /Vertical Wizard -->

<!-- addModuleModal Modal -->
<div class="modal fade" id="addModuleModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">addModuleModal</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col mb-3">
                        <label for="nameBasic" class="form-label">Name</label>
                        <input type="text" id="nameBasic" class="form-control" placeholder="Enter Name" />
                    </div>
                </div>
                <div class="row g-2">
                    <div class="col mb-0">
                        <label for="emailBasic" class="form-label">Email</label>
                        <input type="text" id="emailBasic" class="form-control" placeholder="xxxx@xxx.xx" />
                    </div>
                    <div class="col mb-0">
                        <label for="dobBasic" class="form-label">DOB</label>
                        <input type="text" id="dobBasic" class="form-control" placeholder="DD / MM / YY" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- addCategoryModal Modal -->
<div class="modal fade" id="addCategoryModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">addCategoryModal</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col mb-3">
                        <label for="nameBasic" class="form-label">Name</label>
                        <input type="text" id="nameBasic" class="form-control" placeholder="Enter Name" />
                    </div>
                </div>
                <div class="row g-2">
                    <div class="col mb-0">
                        <label for="emailBasic" class="form-label">Email</label>
                        <input type="text" id="emailBasic" class="form-control" placeholder="xxxx@xxx.xx" />
                    </div>
                    <div class="col mb-0">
                        <label for="dobBasic" class="form-label">DOB</label>
                        <input type="text" id="dobBasic" class="form-control" placeholder="DD / MM / YY" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- addTaskStatusModal Modal -->
<div class="modal fade" id="addTaskStatusModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">addTaskStatusModal</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col mb-3">
                        <label for="nameBasic" class="form-label">Name</label>
                        <input type="text" id="nameBasic" class="form-control" placeholder="Enter Name" />
                    </div>
                </div>
                <div class="row g-2">
                    <div class="col mb-0">
                        <label for="emailBasic" class="form-label">Email</label>
                        <input type="text" id="emailBasic" class="form-control" placeholder="xxxx@xxx.xx" />
                    </div>
                    <div class="col mb-0">
                        <label for="dobBasic" class="form-label">DOB</label>
                        <input type="text" id="dobBasic" class="form-control" placeholder="DD / MM / YY" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


<button type="button" onclick="GenerateDemoReport()">generate demo</button>

@section VendorsCSS {
    <link rel="stylesheet" href="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="/assets/vendor/libs/typeahead-js/typeahead.css" />
    <link rel="stylesheet" href="/assets/vendor/libs/bs-stepper/bs-stepper.css" />
    <link rel="stylesheet" href="/assets/vendor/libs/bootstrap-select/bootstrap-select.css" />
    <link rel="stylesheet" href="/assets/vendor/libs/select2/select2.css" />
    <link rel="stylesheet" href="/assets/vendor/libs/formvalidation/dist/css/formValidation.min.css" />
    <link rel="stylesheet" href="/assets/vendor/libs/formvalidation/dist/css/formValidation.min.css" />

    <link rel="stylesheet" href="/assets/vendor/libs/flatpickr/flatpickr.css" />
    <link rel="stylesheet" href="/assets/vendor/libs/bootstrap-datepicker/bootstrap-datepicker.css" />
    <link rel="stylesheet" href="/assets/vendor/libs/bootstrap-daterangepicker/bootstrap-daterangepicker.css" />
    <link rel="stylesheet" href="/assets/vendor/libs/jquery-timepicker/jquery-timepicker.css" />
    <link rel="stylesheet" href="/assets/vendor/libs/pickr/pickr-themes.css" />

    <link rel="stylesheet" href="/assets/vendor/libs/animate-css/animate.css" />
}

@section PageCSS {

}

@section VendorsJS {
    <script src="/assets/vendor/libs/bs-stepper/bs-stepper.js"></script>
    <script src="/assets/vendor/libs/bootstrap-select/bootstrap-select.js"></script>
    <script src="/assets/vendor/libs/select2/select2.js"></script>
    <script src="/assets/vendor/libs/formvalidation/dist/js/FormValidation.min.js"></script>
    <script src="/assets/vendor/libs/formvalidation/dist/js/plugins/Bootstrap5.min.js"></script>
    <script src="/assets/vendor/libs/formvalidation/dist/js/plugins/AutoFocus.min.js"></script>

    <script src="/assets/vendor/libs/autosize/autosize.js"></script>
    <script src="/assets/vendor/libs/cleavejs/cleave.js"></script>
    <script src="/assets/vendor/libs/cleavejs/cleave-phone.js"></script>
    <script src="/assets/vendor/libs/bootstrap-maxlength/bootstrap-maxlength.js"></script>
    <script src="/assets/vendor/libs/jquery-repeater/jquery-repeater.js"></script>

    <script src="/assets/vendor/libs/moment/moment.js"></script>
    <script src="/assets/vendor/libs/flatpickr/flatpickr.js"></script>
    <script src="/assets/vendor/libs/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script src="/assets/vendor/libs/bootstrap-daterangepicker/bootstrap-daterangepicker.js"></script>
    <script src="/assets/vendor/libs/jquery-timepicker/jquery-timepicker.js"></script>
    <script src="/assets/vendor/libs/pickr/pickr.js"></script>

    <script src="../../assets/vendor/libs/typeahead-js/typeahead.js"></script>
    <script src="../../assets/vendor/libs/tagify/tagify.js"></script>
}

@section PageJS {

    <script src="~/js/weeklyTaskReport.js" asp-append-version="true"></script>

}

