@{
    ViewData["Title"] = "Weekly task report";
}


<!-- Weekly Report -->
<div class="col-12 mb-4">
    <small class="text-light fw-semibold">Weekly Report</small>
    <div class="bs-stepper wizard-vertical vertical mt-2">
        <div class="bs-stepper-header">
            <div class="step" data-target="#general-details">
                <button type="button" class="step-trigger">
                    <span class="bs-stepper-circle">1</span>
                    <span class="bs-stepper-label">General Details</span>
                </button>
            </div>
            <div class="line"></div>
            <div class="step" data-target="#tasks">
                <button type="button" class="step-trigger">
                    <span class="bs-stepper-circle">3</span>
                    <span class="bs-stepper-label">Tasks</span>
                </button>
            </div>
        </div>
        <div class="bs-stepper-content">
            <form onSubmit="return false">
                <!-- General Details -->
                <div id="general-details" class="content">
                    <div class="content-header mb-3">
                        <h6 class="mb-0">General Details</h6>
                        <small>Enter the report general details</small>
                    </div>
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <label class="form-label" for="username-vertical">Name</label>
                            <input type="text" id="employee-name" class="form-control" value="Mazen Salah" />
                        </div>
                        <div class="col-sm-6">
                            <label for="html5-date-input" class="form-label">Week Start Date</label>
                            <input class="form-control" type="date" value="2024-07-01" id="week-start-date" />
                        </div>
                        <div class="col-sm-6">
                            <label for="html5-date-input" class="form-label">Week End Date</label>
                            <input class="form-control" type="date" value="2024-07-01" id="week-start-date" />
                        </div>
                        <div class="d-flex col-12 justify-content-between">
                            <button class="btn btn-label-secondary btn-prev" disabled>
                                <i class="bx bx-chevron-left bx-sm ms-sm-n2"></i>
                                <span class="d-none d-sm-inline-block">Previous</span>
                            </button>
                            <button class="btn btn-primary btn-next">
                                <span class="d-none d-sm-inline-block me-sm-1">Next</span>
                                <i class="bx bx-chevron-right bx-sm me-sm-n2"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- Tasks -->
                <div id="tasks" class="content">
                    <div class="content-header mb-3">
                        <h6 class="mb-0">Tasks</h6>
                        <small>Enter the tasks you performed in the week</small>
                    </div>
                    <div class="row g-3">
                        <div class="col-12">
                            <div data-repeater-list="group-a">
                                <div data-repeater-item>
                                    <div class="row">
                                        <div class="col-12 col-lg-6 col-xl-3 mb-0 mb-3">
                                            <label class="form-label" for="form-repeater-1-1">Username</label>
                                            <input type="text" id="form-repeater-1-1" class="form-control" placeholder="john.doe" />
                                        </div>
                                        <div class="col-12 col-lg-6 col-xl-3 mb-0 mb-3">
                                            <label class="form-label" for="form-repeater-1-2">Password</label>
                                            <input type="password"
                                                   id="form-repeater-1-2"
                                                   class="form-control"
                                                   placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" />
                                        </div>
                                        <div class="col-12 col-lg-6 col-xl-2 mb-0 mb-3">
                                            <label class="form-label" for="form-repeater-1-3">Gender</label>
                                            <select id="form-repeater-1-3" class="form-select">
                                                <option value="Male">Male</option>
                                                <option value="Female">Female</option>
                                            </select>
                                        </div>
                                        <div class="col-12 col-lg-6 col-xl-2 mb-0 mb-3">
                                            <label class="form-label" for="form-repeater-1-4">Profession</label>
                                            <select id="form-repeater-1-4" class="form-select">
                                                <option value="Designer">Designer</option>
                                                <option value="Developer">Developer</option>
                                                <option value="Tester">Tester</option>
                                                <option value="Manager">Manager</option>
                                            </select>
                                        </div>
                                        <div class="d-flex col-12 col-lg-12 col-xl-2 align-items-center mb-0 mb-3">
                                            <button class="btn btn-label-danger mt-4" data-repeater-delete>
                                                <i class="bx bx-x"></i>
                                                <span class="align-middle">Delete</span>
                                            </button>
                                        </div>
                                    </div>
                                    <hr />
                                </div>
                            </div>
                            <div class="mb-0">
                                <button class="btn btn-primary" data-repeater-create>
                                    <i class="bx bx-plus"></i>
                                    <span class="align-middle">Add</span>
                                </button>
                            </div>
                        </div>
                        <div class="d-flex col-12 justify-content-between">
                            <button class="btn btn-primary btn-prev">
                                <i class="bx bx-chevron-left bx-sm ms-sm-n2"></i>
                                <span class="d-none d-sm-inline-block">Previous</span>
                            </button>
                            <button class="btn btn-success btn-submit" type="button">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /Vertical Wizard -->


<button type="button" onclick="GenerateDemoReport()">generate demo</button>

@section VendorsCSS {
    <link rel="stylesheet" href="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="/assets/vendor/libs/typeahead-js/typeahead.css" />
    <link rel="stylesheet" href="/assets/vendor/libs/bs-stepper/bs-stepper.css" />
    <link rel="stylesheet" href="/assets/vendor/libs/bootstrap-select/bootstrap-select.css" />
    <link rel="stylesheet" href="/assets/vendor/libs/select2/select2.css" />
    <link rel="stylesheet" href="/assets/vendor/libs/formvalidation/dist/css/formValidation.min.css" />
    <link rel="stylesheet" href="/assets/vendor/libs/formvalidation/dist/css/formValidation.min.css" />
}

@section PageCSS {

}

@section VendorsJS {
    <!-- Vendors JS -->
    <script src="/assets/vendor/libs/bs-stepper/bs-stepper.js"></script>
    <script src="/assets/vendor/libs/bootstrap-select/bootstrap-select.js"></script>
    <script src="/assets/vendor/libs/select2/select2.js"></script>
    <script src="/assets/vendor/libs/formvalidation/dist/js/FormValidation.min.js"></script>
    <script src="/assets/vendor/libs/formvalidation/dist/js/plugins/Bootstrap5.min.js"></script>
    <script src="/assets/vendor/libs/formvalidation/dist/js/plugins/AutoFocus.min.js"></script>

    <script src="/assets/vendor/libs/autosize/autosize.js"></script>
    <script src="/assets/vendor/libs/cleavejs/cleave.js"></script>
    <script src="/assets/vendor/libs/cleavejs/cleave-phone.js"></script>
    <script src="/assets/vendor/libs/bootstrap-maxlength/bootstrap-maxlength.js"></script>
    <script src="/assets/vendor/libs/jquery-repeater/jquery-repeater.js"></script>
}

@section PageJS {

    <!-- Page JS -->
    <script src="~/js/weeklyTaskReport.js" asp-append-version="true"></script>

    @* <script>

        function GenerateDemoReport() {

            const startDate = document.querySelector("#start-date").value;
            const endDate = document.querySelector("#end-date").value;

            const requestModel = {
                startDate: startDate,
                endDate: endDate
            };

            $.ajax({
                url: `/Home/GenerateDemoReport`,
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(requestModel),
                success: function (data) {

                    const link = document.createElement('a');
                    link.href = `/weekly//${data.fileName}`;
                    link.download = data.fileName;
                    link.click();

                },
                error: function (xhr, status, error) {
                    console.log("Something went wrong", error);
                }
            });
        }

    </script> *@
}

