@{
    ViewData["Title"] = "Weekly task report";
}


<!-- Weekly Report -->
<div class="col-12 mb-4">
    <div class="bs-stepper wizard-vertical vertical mt-2">
        <div class="bs-stepper-header">
            <div class="step" data-target="#report-details">
                <button type="button" class="step-trigger">
                    <span class="bs-stepper-circle">1</span>
                    <span class="bs-stepper-label">General Details</span>
                </button>
            </div>
            <div class="line"></div>
            <div class="step" data-target="#summary">
                <button type="button" class="step-trigger">
                    <span class="bs-stepper-circle">3</span>
                    <span class="bs-stepper-label">Summary</span>
                </button>
            </div>
        </div>
        <div class="bs-stepper-content">
            <form onSubmit="return false">
                <!-- Report Details -->
                <div id="report-details" class="content">
                    <div class="row g-3">
                        <div class="content-header">
                            <h6 class="mb-0">General Details</h6>
                            <small>Enter the report general details</small>
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label" for="employee-name">Name</label>
                            <input type="text" id="employee-name" class="form-control" value="Mazen Salah" />
                        </div>
                        <div class="col-sm-6">
                            <label for="week-start-date" class="form-label">Work Week</label>
                            <div class="input-group input-daterange" id="bs-datepicker-daterange">
                                <input type="text" id="week-start-date" placeholder="DD/MM/YYYY" class="form-control" />
                                <span class="input-group-text">to</span>
                                <input type="text" id="week-end-date" placeholder="DD/MM/YYYY" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <hr class="my-4" />
                    <div class="row g-3">
                        <div class="content-header">
                            <h6 class="mb-0">Tasks</h6>
                            <small>List the tasks you performed in the week</small>
                        </div>
                        <div class="col-12 form-repeater">
                            <div data-repeater-list="group-a">
                                <div data-repeater-item>
                                    <div class="row">
                                        <div class="col-12 col-lg-6 col-xl-4 mb-0 mb-3">
                                            <label class="form-label" for="task-details">Task Details</label>
                                            <textarea id="task-details" rows="3" class="form-control"></textarea>
                                        </div>
                                        <div class="col-12 col-lg-6 col-xl-4 mb-0 mb-3">
                                            <label for="module" class="form-label">Module</label>
                                            <select id="module" class="select2 form-select form-select-lg" data-allow-clear="true">
                                                <option value="-1" disabled selected>-- Select a module --</option>
                                                <option value="0">Add new module</option>
                                                <option value="Get Organized">Get Organized</option>
                                                <option value="Talent Acquisition">Talent Acquisition</option>
                                                <option value="Development">Development</option>
                                                <option value="Performance Management">Performance Management</option>
                                            </select>
                                        </div>
                                        <div class="col-12 col-lg-6 col-xl-4 mb-0 mb-3">
                                            <label for="category" class="form-label">Category</label>
                                            <select id="category" class="select2 form-select form-select-lg" data-allow-clear="true">
                                                <option value="-1" disabled selected>-- Select a Category --</option>
                                                <option value="0">Add new category</option>
                                                <option value="Enhancement">Enhancement</option>
                                                <option value="Enhancement">Bug</option>
                                            </select>
                                        </div>
                                        <div class="col-12 col-lg-6 col-xl-4 mb-0 mb-3">
                                            <label for="task-start-date" class="form-label">Start Date</label>
                                            <input type="text" id="task-start-date" placeholder="DD/MM/YYYY" class="form-control format-dd-mm-yyyy" />
                                        </div>
                                        <div class="col-12 col-lg-6 col-xl-4 mb-0 mb-3">
                                            <label for="task-finish-date" class="form-label">Finish Date</label>
                                            <input class="form-control format-dd-mm-yyyy" type="text" placeholder="DD/MM/YYYY" id="task-finish-date" />
                                        </div>
                                        <div class="col-12 col-lg-6 col-xl-4 mb-0 mb-3">
                                            <label for="select-status" class="form-label">Status</label>
                                            <select id="select-status" class="select2 form-select form-select-lg" data-allow-clear="true">
                                                <option value="-1" disabled selected>-- Select a Status --</option>
                                                <option value="0">Add new status</option>
                                                <option value="Done">Done</option>
                                                <option value="InProgress">In Progress</option>
                                            </select>
                                        </div>
                                        <div class="d-flex col-12 col-lg-12 col-xl-2 align-items-center mb-0 mb-3">
                                            <button class="btn btn-label-danger mt-4" data-repeater-delete>
                                                <i class="bx bx-x"></i>
                                                <span class="align-middle">Delete</span>
                                            </button>
                                        </div>
                                    </div>
                                    <hr />
                                </div>
                            </div>
                            <div class="mb-0">
                                <button class="btn btn-primary" data-repeater-create>
                                    <i class="bx bx-plus"></i>
                                    <span class="align-middle">Add</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="d-flex col-12 justify-content-between">
                        <button class="btn btn-label-secondary btn-prev" disabled>
                            <i class="bx bx-chevron-left bx-sm ms-sm-n2"></i>
                            <span class="d-none d-sm-inline-block">Previous</span>
                        </button>
                        <button class="btn btn-primary btn-next">
                            <span class="d-none d-sm-inline-block me-sm-1">Next</span>
                            <i class="bx bx-chevron-right bx-sm me-sm-n2"></i>
                        </button>
                    </div>
                </div>
                <!-- Summary -->
                <div id="summary" class="content">
                    <div class="content-header mb-3">
                        <h6 class="mb-0">Summary</h6>
                        <small>Here is your report summary based on your inputs</small>
                    </div>
                    <div class="d-flex col-12 justify-content-between">
                        <button class="btn btn-primary btn-prev">
                            <i class="bx bx-chevron-left bx-sm ms-sm-n2"></i>
                            <span class="d-none d-sm-inline-block">Previous</span>
                        </button>
                        <button class="btn btn-success btn-submit" type="button">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /Vertical Wizard -->


<button type="button" onclick="GenerateDemoReport()">generate demo</button>

@section VendorsCSS {
    <link rel="stylesheet" href="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="/assets/vendor/libs/typeahead-js/typeahead.css" />
    <link rel="stylesheet" href="/assets/vendor/libs/bs-stepper/bs-stepper.css" />
    <link rel="stylesheet" href="/assets/vendor/libs/bootstrap-select/bootstrap-select.css" />
    <link rel="stylesheet" href="/assets/vendor/libs/select2/select2.css" />
    <link rel="stylesheet" href="/assets/vendor/libs/formvalidation/dist/css/formValidation.min.css" />
    <link rel="stylesheet" href="/assets/vendor/libs/formvalidation/dist/css/formValidation.min.css" />

    <link rel="stylesheet" href="/assets/vendor/libs/flatpickr/flatpickr.css" />
    <link rel="stylesheet" href="/assets/vendor/libs/bootstrap-datepicker/bootstrap-datepicker.css" />
    <link rel="stylesheet" href="/assets/vendor/libs/bootstrap-daterangepicker/bootstrap-daterangepicker.css" />
    <link rel="stylesheet" href="/assets/vendor/libs/jquery-timepicker/jquery-timepicker.css" />
    <link rel="stylesheet" href="/assets/vendor/libs/pickr/pickr-themes.css" />
}

@section PageCSS {

}

@section VendorsJS {
    <script src="/assets/vendor/libs/bs-stepper/bs-stepper.js"></script>
    <script src="/assets/vendor/libs/bootstrap-select/bootstrap-select.js"></script>
    <script src="/assets/vendor/libs/select2/select2.js"></script>
    <script src="/assets/vendor/libs/formvalidation/dist/js/FormValidation.min.js"></script>
    <script src="/assets/vendor/libs/formvalidation/dist/js/plugins/Bootstrap5.min.js"></script>
    <script src="/assets/vendor/libs/formvalidation/dist/js/plugins/AutoFocus.min.js"></script>

    <script src="/assets/vendor/libs/autosize/autosize.js"></script>
    <script src="/assets/vendor/libs/cleavejs/cleave.js"></script>
    <script src="/assets/vendor/libs/cleavejs/cleave-phone.js"></script>
    <script src="/assets/vendor/libs/bootstrap-maxlength/bootstrap-maxlength.js"></script>
    <script src="/assets/vendor/libs/jquery-repeater/jquery-repeater.js"></script>

    <script src="/assets/vendor/libs/moment/moment.js"></script>
    <script src="/assets/vendor/libs/flatpickr/flatpickr.js"></script>
    <script src="/assets/vendor/libs/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script src="/assets/vendor/libs/bootstrap-daterangepicker/bootstrap-daterangepicker.js"></script>
    <script src="/assets/vendor/libs/jquery-timepicker/jquery-timepicker.js"></script>
    <script src="/assets/vendor/libs/pickr/pickr.js"></script>
}

@section PageJS {

    <script src="~/js/weeklyTaskReport.js" asp-append-version="true"></script>

}

